<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>Name</th>
            <th>Age</th>
        </tr>
        {{#each persons as |person|}}
        <tr>
            <td>{{person.name}}</td>
            <td>{{person.age}}</td>
        </tr>
        {{/each}}
    </table>

    <a href="/add">ADD PERSON</a>
    {{!-- it will send get request to localhost/add --}}
</body>
</html>